<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OSMEntities" connectionString="metadata=res://*/EFModel.Model1.csdl|res://*/EFModel.Model1.ssdl|res://*/EFModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIOGO-PC;initial catalog=OSM-SIAT-P;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>